{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Market
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/otree_multiple_asset_market/multiple_asset_text_interface.js"></script>
{% endblock %}

{% block content %}

    <!-- hide otree title tag to make more room for interface -->
    <style>
        h2.otree-title.page-header {
            display: none;
        }
    </style>

    <multiple-asset-text-interface
        time-remaining="{{ time_remaining }}"
        bids="{{ bids }}"
        asks="{{ asks }}"
        settled-assets="{{ settled_assets }}"
        available-assets="{{ available_assets }}"
        settled-cash="{{ settled_cash }}"
        available-cash="{{ available_cash }}"
        trades="{{ trades }}"
    ></multiple-asset-text-interface>

{% endblock %}
